<div id="map"></div>

<div class="container">
  <% if @user.places.any? %>
    <h3>Добавленые места</h3>
    <div class="row">
      <%= render partial: 'places/place', collection: @user.places %>
    </div>
  <% else %>
    <p class="buffer-top">Пользователь пока еще не создал ни одного места</p>
  <% end %>
</div>

<div class="container">
  <b>Username</b>
  <p><%= @user.username %></p>
  <b>Name</b>
  <p><%= @user.name %></p>
  <b>Sex</b>
  <p><%= @user.sex %></p>
  <b>Date of birth</b>
  <p><%= @user.date_of_birth %></p>
  <b>Date of registration</b>
  <p><%= @user.created_at.to_date %></p>
</div>

<%= javascript_pack_tag 'map_users_places' %>
