<div class="container">
  <iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/favorite-places-2022-team-e/cl3bljsxp003815qqxrqlbc9h.html?title=false&access_token=pk.eyJ1IjoiZmF2b3JpdGUtcGxhY2VzLTIwMjItdGVhbS1lIiwiYSI6ImNsM2JsZmI2djA4MzAzanA0cnljNXZreWQifQ.SLJqEv5s1nnEpBQduW3q7w&zoomwheel=false#11.14/53.9065/27.5941" title="Basic" style="border:none;"></iframe>
</div>

<div class="container">
  <b>Username</b>
  <p><%= @user.username %></p>
  <b>Name</b>
  <p><%= @user.name %></p>
  <b>Sex</b>
  <p><%= @user.sex %></p>
  <b>Date of birth</b>
  <p><%= @user.date_of_birth %></p>
  <b>Date of registration</b>
  <p><%= @user.created_at.to_date %></p>
</div>
