<div class="container">
  <div id="map" data-title="<%= @place.title %>" data-latitude="<%= @place.latitude %>" data-longitude="<%= @place.longitude %>"></div>
  <b>Название</b>
  <p><%= @place.title %></p>
  <b>Описание</b>
  <p><%= @place.description %></p>
  <b>Широта</b>
  <p><%= @place.latitude %></p>
  <b>Долгота</b>
  <p><%= @place.longitude %></p>
  <b>Дата создания</b>
  <p><%= @place.created_at.to_date %></p>
  <b>Добавил</b>
  <p><%= link_to @place.user.username, user_path(@place.user) %></p>
</div>
<%= javascript_pack_tag 'map_show' %>
