<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
      <div id="map" data-title="<%= @place.title %>" data-latitude="<%= @place.latitude %>" data-longitude="<%= @place.longitude %>"></div>
    </div>

    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <b><%= t('places.show.liked') %> </b><%= @place.likes.count %>

      <% if user_signed_in? %>
        <% if @place.liked?(current_user) %>
          <%= button_to "Like", like_path(@place), method: "put", disabled: true %>
        <% else %>
          <%= button_to "Like", like_path(@place), method: "put" %>
        <% end %>
        <%= button_to "Dislike", dislike_path(@place), method: "put" %>
      <% end %>

      <b><%= t('places.show.title') %></b>
      <p><%= @place.title %></p>
      <b><%= t('places.show.description') %></b>
      <p><%= @place.description %></p>
      <b><%= t('places.show.latitude') %></b>
      <p><%= @place.latitude %></p>
      <b><%= t('places.show.longitude') %></b>
      <p><%= @place.longitude %></p>
      <b><%= t('places.show.date_of_creation') %></b>
      <p><%= @place.created_at.to_date %></p>
      <b><%= t('places.show.creator') %></b>
      <p><%= link_to @place.user.username, user_path(@place.user) %></p>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'map_show' %>

<div class="container">
  <div class="row">
    <div class="place-photo-form">
      <%= render partial: 'photos/form', locals: {photo: @new_photo || @place.photos.build} %>
    </div>

    <div class="place-photos-gallery">
      <%= render partial: 'photos/photo', collection: @place.photos.except(@new_photo) %>
    </div>
  </div>
</div>
