<div class="container">
  <div id="map" data-title="<%= @place.title %>" data-latitude="<%= @place.latitude %>" data-longitude="<%= @place.longitude %>"></div>

  <b>Понравилось: </b><%= @place.likes.count %>

  <% if user_signed_in? %>
    <% if @place.liked?(current_user) %>
      <%= button_to "Like", like_path(@place), method: "put", disabled: true %>
    <% else %>
      <%= button_to "Like", like_path(@place), method: "put" %>
    <% end %>
    <%= button_to "Dislike", dislike_path(@place), method: "put" %>
  <% end %>

  <b>Название</b>
  <p><%= @place.title %></p>
  <b>Описание</b>
  <p><%= @place.description %></p>
  <b>Широта</b>
  <p><%= @place.latitude %></p>
  <b>Долгота</b>
  <p><%= @place.longitude %></p>
  <b>Дата создания</b>
  <p><%= @place.created_at.to_date %></p>
  <b>Добавил</b>
  <p><%= link_to @place.user.username, user_path(@place.user) %></p>
</div>
<%= javascript_pack_tag 'map_show' %>

<div class="place-photo-form">
  <%= render partial: 'photos/form', locals: {photo: @new_photo || @place.photos.build} %>
</div>

<div class="place-photos-gallery">
  <%= render partial: 'photos/photo', collection: @place.photos.except(@new_photo) %>
</div>
