<!DOCTYPE html>
<html>
  <head>
    <title>FavoritePlaces</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">
          <%= link_to "Favorite places", root_path, :class => "navbar-brand" %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Профиль
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <%= link_to current_user.username, user_path(current_user), :class => "dropdown-item" %>
                  </li>
                  <li>
                    <%= link_to "Редактировать профиль", edit_user_registration_path, :class => "dropdown-item" %>
                  </li>
                  <li>
                    <%= link_to "Выйти", destroy_user_session_path, :method => "delete", :class => "dropdown-item" %>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <%= link_to "Добавить место", new_place_path, :class => "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Друзья", "#", :class => "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Избранное", "#", :class => "nav-link active" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Войти", new_user_session_path, :class => "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Зарегистрироваться", new_user_registration_path, :class => "nav-link active" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>

