<!DOCTYPE html>
<html>
  <head>
    <title>FavoritePlaces</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Favorite places", root_path, class: "h1" %>
    <% if user_signed_in? %>
      <span>Здравствуйте, <%= current_user.username %></span>
      <%= button_to "Выйти", destroy_user_session_path, :method => "delete", :class => "btn btn-primary" %>
      <%= button_to "Редактировать профиль", edit_user_registration_path, :method => "get", :class => "btn btn-secondary" %>
    <% else %>
      <%= button_to "Войти", new_user_session_path, :method => "get", :class => "btn btn-primary" %>
      <%= button_to "Зарегистрироваться", new_user_registration_path, :method => "get", :class => "btn btn-secondary" %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

